
<div class="message">This website help you learn typing by using real words instead of just some random arrangements of letters.
					 Found any issue?. Contact us at <a>learnTypingWithUs@gmail.com</a>
</div>

<style>
	.page-footer{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
</style>

<link rel="stylesheet" href="/css/learn.css">
<link rel="stylesheet" href="/css/home.css">