<div class="wrapper">
	<div class="message">
		Your Email is not verified. 
		<a href="/forms-handling/cancel-signup?email={{email}}">Cancel Sign-up</a>
		 OR 
		<a href="/enter-code?email={{email}}">Verify Email</a>
	</div>
</div>

<style>
	.page-footer{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	div.message{
		margin: 2rem 0;
	}
	div.wrapper{
		width:50%;
		margin: auto;
	}
</style>