<div class="wrapper">
	<form action="/forms-handling/enter-code-redirect" method="POST" class="enter-code">
		<input placeholder="Enter Email" class="email" type="email" required="true" name="email"></input>
		<button type="submit">Submit</button>
	</form>
</div>

<style>
	input.email{
		width: 25rem;
	}
</style>

<link href="/css/enter-code.css" rel="stylesheet"/>