<div class="wrapper">
	<div class="error_msg">{{ error_msg }}</div>
	<form action="/forms-handling/update-password" method="POST" class="enter-code">
			<input value="{{email}}" hidden="true" name="email"></input>
		<div>
			<input class="password" placeholder="Enter New Password" type="password" required="true" name="password"></input>
		</div>
		<div>
			<input class="password"placeholder="Enter New Password Again" type="password" required="true" name="password1"></input>
		</div>
		<button type="submit">Submit</button>
	</form>
</div>

<style>
	input.password{
		margin-bottom: 1rem;
		width: 25rem;
	}
</style>

<link href="/css/enter-code.css" rel="stylesheet"/>