<div class="container">
	<img src="/images/fingers-placement.png" class="placement-image"/>
	<p class="instructions">
		<ul class="instructions-list">
			<li class="instruction">Place Finger on keys like shown in above image.</li><br> 
			<li class="instruction">Left hand index finger should be on "F" key.</li><br>
			<li class="instruction">Right hand index finger should be on "J" key.</li><br> 
			<li class="instruction">Use only one hand thumb for pressing Space (dont use both).</li><br> 
			<li class="instruction">And thats it, you are good to go.</li><br> 
		</ul>
	</p>
	
	<a href="/"><button>Next</button></a>
</div>
<style>
	.container{
		display:block;
		width: 70%;
	}
	.placement-image{
		width: 100%;
	}
	.instructions{
		padding: 2rem;
	}
	.instructions-list{
		padding-left: 2rem;
	}
	.instruction{
		
		font-size: 2rem;
	}
	
	
</style>