<div class="form-wrapper">
	<form class="form" role="form" action="/forms-handling/forgot-password" method="POST">
		<div class="field">
			<label for="email">Email</label>
			<input type="email" required="true" id="email" name="email"/> 
			
		</div>
		<div class="field">
			<button type="submit">Send Email</button>
		</div>
	<form/>
	
</div>