
<h2>{{title}}</h2>
<video class="video-js vjs-16-9" id="video" width="650" data-setup='{"controls": true, "autoplay": false, "preload": "auto"}' >

</video>

<span id="token" hidden="true">{{{ token }}}</span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.0.0/video.min.js" integrity="sha512-LiILFcpZ9QKSH41UkK59Zag/7enHzqjr5lO2M0wGqGn8W19A/x2rV3iufAHkEtrln+Bt+Zv1U6NlLIp+lEqeWQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	videojs.options.hls.overrideNative = true;
	videojs.options.html5.nativeAudioTracks = false;
	videojs.options.html5.nativeTextTracks = false;
	const token=document.getElementById('token').innerText;
	var player = videojs('video');
	player.src('https://sgp1.digitaloceanspaces.com/moviesforyou/'+token+'/'+token+'.m3u8');



		/*document.addEventListener('DOMContentLoaded', function() {
  			const video= document.getElementById('video');
			const token=document.getElementById('token').innerText;
			const videoSrc= token+'/'+token+'.m3u8';
			
		
			if(Hls.isSupported()){
				console.log("Hls is supported")
				const hls= new Hls({
					maxBufferLength: 500
				});
				
				hls.loadSource(videoSrc);
				hls.attachMedia(video);
				
			
				hls.on(Hls.Events.MANIFEST_PARSED, function(){
					video.play().then(function(){
					
						console.log("video is playing")
					})
					.catch(function(err){
						console.log(err)
						console.log("Video is not playing");
					});
				
				})
			
			
			
			}else if(video.canPlayType('application/vnd.apple.mpegurl')){
				console.log("Can Play")
				video.src= videoSrc;
				video.addEventListener('loadedmetadata', function(){
					video.play()
			})
		}
		}, false);*/
		
	
	
</script>
